article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #a4def9;
  color: #eaeaea;
  font-family: "Ubuntu", sans-serif;
}

h1, h2 {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.map {
  width: 100%;
  height: 100vh;
  min-height: 600px;
  overflow: visible;
}

.wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.section___title {
  text-align: center;
  color: #120e1c;
}

.section___title h1 {
  font-size: 5rem;
  margin-bottom: 0;
}

.section___title h2 {
  font-size: 2.2rem;
}

.section___title p {
  font-size: 1.2rem;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}

.loader:before,
.loader:after {
  position: absolute;
  content: '';
}

.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #eaeaea;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.2em 5.1em;
  transform-origin: 5.2em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}

.loader {
  color: #00e9c5;
  font-size: 25px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #eaeaea;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 5.1em;
  -webkit-transform-origin: 0px 5.1em;
  transform-origin: 0px 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}

@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.btn___home {
  background: white;
  color: #120e1c;
  border: 3px solid #120e1c;
  padding: 15px 45px;
  margin: 10px auto;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}

figure {
  color: black;
  height: 500px;
  width: 300px;
  margin: 5px 5px;
  padding: 25px 15px;
  background-color: #eaeaea;
  background-attachment: top center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px;
}

figure h3, figure h4 {
  text-align: center;
}

figure div {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(18, 14, 28, 0.5);
  height: 150px;
  width: 100%;
}

figure div h3, figure div h4 {
  font-size: 1.4rem;
  line-height: 1.4rem;
  color: #eaeaea;
}

figure div h3 {
  padding-top: 25px;
}

figure div h4 {
  margin: 0;
  font-size: 1rem;
}

figure p {
  margin: 0;
  padding: 5px 0;
}

figure img {
  width: 100%;
  max-height: 150px;
}

.score {
  width: 100px;
}

.progress {
  padding: 10px;
  margin-bottom: 10px;
  height: 20px;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
}

.progress.green {
  background: #308651;
}

.progress.red {
  background: #e9742e;
}

.progress.yellow {
  background: #ffd43e;
}

.section___activity, #form___title {
  display: none;
}

header {
  height: 100vh;
  min-height: 600px;
  display: flex;
}

hgroup {
  text-align: center;
  margin: auto;
}

hgroup h1 {
  font-family: "Pathway Gothic One", sans-serif;
  font-size: 8rem;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #eaeaea;
}

.map___section {
  padding: 10px;
  background: #25bbed;
}

.map___section hgroup {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  z-index: 50;
}

.map___section h1 {
  color: #120e1c;
  text-align: center;
}

.section___activity {
  background: linear-gradient(rgba(164, 222, 249, 0.7), rgba(164, 222, 249, 0.7)), url(../assets/pattern.png);
  margin: 0;
  padding: 75px;
}

.section___activity .wrapper {
  background: #e5e5e5;
  padding: 50px;
}

.section___activity .section___title h2 {
  font-size: 4rem;
  margin: 10px 0;
}

.section___activity form {
  padding-top: 2% 0;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
}

.section___activity form input[type=checkbox] {
  display: none;
  background: #eaeaea;
}

.section___activity form .label-box {
  flex: 1 1 150px;
}

.section___activity form label {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 25px 25px;
  margin-top: 0;
  margin-left: 0;
  background: #25bbed;
  padding: 15px 25px;
  cursor: pointer;
  border: 3px solid transparent;
}

.section___activity form label.red {
  background: #ff5a5f;
}

.section___activity form label.blue {
  background: #f30007;
}

.section___activity form input[type=submit] {
  font-size: 2.2rem;
  color: #eaeaea;
  flex: 0 1 200px;
  margin: 10px auto;
  display: block;
  color: #120e1c;
  font-size: 1.6rem;
  transition: 0.3s;
}

.section___activity form input[type=submit]:hover {
  background: #ff5a5f;
  border: 3px solid transparent;
}

.section___results {
  margin: 5% auto;
  opacity: 0;
  height: 0;
  transition: 0.3s all ease;
}

.section___title {
  text-align: center;
  color: #120e1c;
}

.section___title h2 {
  font-size: 2.2rem;
}

.section___title p {
  font-size: 1.2rem;
}
