$black:#120e1c;
$blue: #25bbed;
$lightblue:#a4def9;
$darkblue:#30507a;
$red:rgb(255, 90, 95);
$white:rgb(245, 245, 245);
$gray:#e5e5e5;
$teal:#00e9c5;
//for the progress bars
$green:#308651;
$yellow:#ffd43e;
$redTwo:#e9742e;

//font
$titlefont: 'Pathway Gothic One', sans-serif;
$bodyfont: 'Ubuntu', sans-serif;